@import url('https://font.googleapis.com/css?family=PT+Sans');



html, body, h3 {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}
header {padding: 2em;}
header,aside {
  background-color: rgba(127, 6, 6);
  padding: 2em;
}
h1, h3 {font-family: 'PT Sans'}
h1, .tagline {color: #fff;}

section {
  display: grid;
  grid-template-columns: auto 1fr;
  padding-bottom: .2em;
}

.nummer {
  background-color: #ff0000;
  color: #fff;
  font-size: 3em;
  width: 1.2em;
  text-align: right;
  padding: .2em;
}
article {
  padding: 1em;
}
section img {
  max-width: 100%;
}
aside ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

aside h3 {
  background-color: #6d5757;
  padding: 2em;
  color: #fff;
}

aside a {
  text-decoration: none;
  padding: 2em;
  display: block;
}
aside a:hover {
  background-color: #ff0000;
  color: #fff;
}

footer {
  background-color: #6d5757;
  color: #fff;
  padding: 2em;
}

@media screen and (min-width: 760px) {
   .afb {
     display: block;
     background-image: url('hardlopen.jpg');
     background-size: cover;
     background-position: center center;
   }
  body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "kop kop"
    "t1 t2"
    "t3 t4"
    "t3 t5"
    "afb t6"
    "t7 aside"
    "t8 aside"
    "t9 aside"
    "t10 aside"
    "voet voet";
  }
  header {grid-area: kop;}
  .buiten {grid-area: t1;}
  .hardlopen {grid-area: t2;}
  .binnen {grid-area: t3;}
  .leedvermaak {grid-area: t4;}
  .fmylife {grid-area: t5;}
  .boek {grid-area: t6;}
  .bel {grid-area: t7;}
  .huis{grid-area: t8;}
  .kijk{grid-area: t9;}
  .gezond {grid-area: t10;}
  .afb {grid-area: afb;}
  aside {grid-area: aside;}
  footer {grid-area: voet;}


  .buiten_article {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .buiten_article h3 {grid-column: span 2;}
  footer {
    display: grid;
    grid-template-columns: 1fr auto;
  }
}

@media screen and (min-width:1000px){
  body {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "kop kop kop"
    "t1 t2 afb"
    "t3 t4 afb"
    "t3 t5 afb"
    "aside t6 t6"
    "aside t7 t8"
    "aside t9 t10"
    "aside voet voet";
  }
}
